.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

rendermatic/**
preprocess.py
process.py
registry_dump_raw.json
registry_dump.json
extra_info.json
rendermatic.csv